# SQL And SQLite
SQL(Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration databases systems, In this lesson, we will cover the basics of SQL and SQLite, including creating databases tables, and performing various SQL operations.


SQLite is a lightweight version of SQL

In [2]:
import sqlite3

In [3]:
## Connect to a sqlite database
connection=sqlite3.connect('example.db')
connection
# In our folder we have created a 'example.db' file

In [4]:
cursor = connection.cursor()

In [ ]:
## Create a table 
cursor.execute('''
Create table if not exists Employees(
id Integer Primary Key,
name Text Not Null,
age Integer,
department Text)
''')

## Commit the changes 
connection.commit()

In [17]:
cursor.execute('''
Select * from employees


''')

In [18]:
## Insert the data in sqlite table 
cursor.execute('''
Insert Into employees(name,age,department)
               values('Manish',18,'Data Science')
''')

cursor.execute('''
Insert Into employees(name,age,department)
               values('Alex',28,'CyberSecurity')
''')

cursor.execute('''
Insert Into employees(name,age,department)
               values('Joan',24,'HR')
''')

## connection 
connection.commit()

In [19]:
## Quering the data from the table 
cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data 

for row in rows:
    print(row)

(1, 'Manish', 18, 'Data Science')
(2, 'Alex', 28, 'CyberSecurity')
(3, 'Joan', 24, 'HR')

In [21]:
## Update the data in the table

cursor.execute('''
UPDATE employees
Set age=34
where name="Manish"
''')

connection.commit()

In [ ]:
## Quering the data from the table 
cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data 

for row in rows:
    print(row)

(1, 'Manish', 34, 'Data Science')
(2, 'Alex', 28, 'CyberSecurity')
(3, 'Joan', 24, 'HR')

In [25]:
## Delete the data from table 
cursor.execute('''
Delete from employees
              Where name ='Joan'
'''
)

connection.commit()

In [ ]:
cursor.execute('Select * from employees')
rows=cursor.fetchall()


for row in rows:
    print(row)

(1, 'Manish', 34, 'Data Science')
(2, 'Alex', 28, 'CyberSecurity')

In [50]:
# ## Working with Sales data
# connection = sqlite3.connect('sales_data.db')
# # cursor = connection.cursor()

# cursor.execute("DROP TABLE IF EXISTS sales") 
# cursor.execute('''
# CREATE TABLE sales(
#  id INTEGER PRIMARY KEY,
#  data TEXT NOT NULL,
#  product TEXT NOT NULL,
#  sales INTEGER,
#  region Text)
# ''')


# sales_data = [
#     ('2023-01-01','Product1',100,'North'),
#     ('2023-01-02','Product2',150,'West'),
#     ('2023-01-03','Product3',180,'East'),
#     ('2023-01-04','Product4',250,'South'),
#     ('2023-01-05','Product5',300,'North')
# ]
# connection.commit()

# cursor.executemany('''
# INSERT INTO sales(date,product,sales,region)
#                VALUES(?,?,?,?)
#                ''',sales_data)

# connection.commit()

In [51]:
# cursor.execute('Select * from employees')
# rows=cursor.fetchall()

# for row in row:
#     print(row)